body {
    background-color: black;
    color: white;
    font-family: 'Nunito', sans-serif;
}

#bottan {
    font-weight: bold;
    padding: 30px;
    background-color: #39799e;
    margin: 0 auto;
    border-radius: 40px;
    text-align: center;
    font-size: 80px;
    max-width: 800px;
}